.welcomeLeaf {
  position: absolute;
  left: -100px;
  width: 300px;
  z-index: 3;
}
.welcomeLgLeaf {
  position: absolute;
  left: -200px;
  top: 250px;
}
.welcomeReverseLeaf {
  position: absolute;
  right: -200px;
  top: 250px;
}
.welcomeReverseLgLeaf {
  position: absolute;
  right: -200px;
  top: 10px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .welcomeReverseLeaf > img {
    width: 450px;
  }
  .welcomeLgLeaf {
    top: 150px;
  }
  .welcomeLgLeaf > img {
    width: 600px;
  }
  .welcomeReverseLgLeaf > img {
    width: 300px;
  }
  .welcomeReverseLgLeaf {
    top: 0px;
    right: -150px;
  }
}
