.welcomeLeaf {
  position: absolute;
  left: -100px;
  width: 300px;
  z-index: 3;
}
.welcomeLgLeaf {
  position: absolute;
  left: -200px;
  top: 250px;
}
.welcomeReverseLeaf {
  position: absolute;
  right: -200px;
  top: 250px;
}
.welcomeReverseLgLeaf {
  position: absolute;
  right: -200px;
  top: 10px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .welcomeReverseLeaf {
    position: absolute;
    right: -200px;
    top: 250px;
    width: 450px;
  }
  .welcomeLgLeaf {
    position: absolute;
    left: -200px;
    top: 250px;
    width: 600px;
  }
}
