.top-nav-dark {
  width: 100%;
  background: hsl(286, 54%, 72%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 2px;
  position: sticky;
  top: 0;
  z-index: 10000;
  text-shadow: -5px 4px 5px rgba(0, 0, 0, 1.5);
}
.top-nav-light {
  width: 100%;
  background: hsl(286, 87%, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 2px;
  position: sticky;
  top: 0;
  z-index: 10000;
  text-shadow: -5px 4px 5px rgba(0, 0, 0, 1.5);
}

.nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: stretch;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: underline;
}

.nav-text-large {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lobster", sans-serif;
}
.nav-Img {
  width: 60px;
  height: 60px;
}
.home-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
.home-button > img {
  margin-left: 10px;
}
