.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.title > h1 {
  margin-bottom: 20px;
}

.smallBtn {
  padding: 5px 10px 5px 10px;
  background-color: hsl(286, 82%, 73%);
  color: white;
  border-radius: 0.9rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  margin-left: 10px;
}
.captureBtn {
  padding: 5px 10px 5px 10px;
  background-color: hsl(286, 82%, 73%);
  color: white;
  border-radius: 0.9rem;
  text-decoration: none;

  color: black;
  font-weight: bold;
  margin-left: 10px;
}

.pokeInput {
  padding: 5px 10px 5px 10px;
  width: 300px;
}
.pokeForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p {
  display: flex;
}
.errorContainer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.errorMessage {
  color: rgb(252, 30, 30);
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}
.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  width: 100%;
  color: black;
}
.resultsContainer > h1 {
  margin-bottom: 20px;
}

.resultsContainer > button {
  margin-bottom: 20px;
}

.uiContainerRun {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.uiContainerFound {
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.pokeballDisplayInfoDark {
  width: 300px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2rem;
  color: white;
  border: 2px solid #e3e3e3;
}
.captureDisplayInfoDark {
  width: 300px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2rem;
  color: white;
  border: 2px solid #e3e3e3;
}
.pokeballDisplayInfoLight {
  width: 300px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2rem;
  color: black;
  border: 2px solid #272727;
}
.captureDisplayInfoLight {
  width: 300px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2rem;
  color: black;
  border: 2px solid #272727;
}
.resultDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokeballAndName {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultDisplayImg {
  margin-bottom: 10px;
}

.currentChoice {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
}
.pokeballPng {
  cursor: pointer;
}

.captureContainer > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.textWhite {
  color: white;
}

.newPokemonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.rotatingPokeball {
  animation: rotate 3s linear infinite;
}
.foundResultsContainer {
  height: 80px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start with no rotation (0 degrees) */
  }
  to {
    transform: rotate(360deg); /* Rotate a full circle (360 degrees) */
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .pokedexBtn {
    padding: 5px 10px 5px 10px;
    background-color: hsl(0, 2%, 90%);
    border-radius: 0.8rem;
    text-decoration: none;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    color: white;
  }

  .uiContainerFound {
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
  }
  .uiContainerRun {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }

  .captureStatus {
    font-size: 1.5rem;
  }
  .captureContainer > p {
    font-size: 1.2rem;
  }
}
