.newPLeaf {
  position: absolute;
  left: -100px;
  z-index: 3;
}
.newPLgLeaf {
  position: absolute;
  left: -200px;
  top: 250px;
}
.newPLgLeaf2 {
  position: absolute;
  left: -200px;
  top: 200px;
  z-index: 1;
}
.newPReverseLeaf {
  position: absolute;
  right: -200px;
  top: 250px;
}
.newPReverseLgLeaf {
  position: absolute;
  right: -200px;
  top: 10px;
}

.wildGrass1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.wildGrass2 {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.wildGrassDark1 {
  position: absolute;
  left: 24.8%;
  top: 300px;
  z-index: 2;
}
.wildGrassDark2 {
  position: absolute;
  left: 44.8%;
  top: 300px;
}
